.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.rows{
  border: 2px solid red;
}

.columns
{
  border: 2px solid black;
}

.Messi{
  height: 100%;
  width: 100%;
}


/*
.form{
  text-align: center;
}
*/


.form-div{
  padding-top: 100px;
}

.warning{
  color: red;
}